In [3]:
from abc import ABC, abstractmethod
from pathlib import Path

import pandas as pd

In [4]:
# Refactor to config.yaml
datadir = Path('../data')

In [56]:
class Cleaner(ABC):
    
    @abstractmethod
    def to_lower():
        pass
    
    @abstractmethod
    def get_dtypes():
        pass
    
    @abstractmethod
    def check_missing_values():
        pass
    
    def rename_column():
        pass
    
class Reader(ABC):
    
    @abstractmethod
    def read():
        pass
    
    @abstractmethod
    def get_data():
        pass

In [57]:
class ExcelReader(Reader):
    
    def __init__(self):
        self.file = None
        
    def read(file_path):
        file = pd.read_excel(file_path)
        
        self.file = file
    
    def get_data(file_path):
        self.read(file_path)
        
        return self.file

In [55]:
class CountryCodesCleaner(Cleaner):
    
    def __init__(self, df):
        self.df = df
        
    def to_lower(self):
        self.df.columns = self.df.column.str.lower()
        
    def get_dtypes(self):
        print(self.df.dtypes)
    
    def check_missing_values(self):
        return df.isna().sum()
    
    def rename_columns(self, mapping):
        self.df = self.df.rename(columns=column_map)
        
class LifeExpectancyCleaner(Cleaner):
    
    def __init__(self, df):
        self.df = df
        
    def to_lower():
        self.df.column = self.df.column.str.lower()
    
    def get_dtypes():
        pass
    
    def check_missing_values():
        pass

In [ ]:
excel_reader = ExcelReader

In [51]:
df = pd.read_csv(Path(datadir, 'country_codes'))
df.head(2)

   country     name
0     1010  Algeria
1     1020   Angola

In [52]:
cleaner = CountryCodesCleaner(df)

In [53]:
column_map = {
    'country': 'country_code',
    'name': 'country'
}

cleaner.rename_columns(column_map)

In [54]:
cleaner.check_missing_values().index

Index(['country', 'name'], dtype='object')